@model prisustvoPrikazVM
@{
    Layout = null;
}
 <table class="table table-bordered">
     <thead>
         <tr>
             <th>Naziv Predmeta</th>
             <th>Datum</th>
             <th>Prisutan</th>
             <th>Komentar</th>
             <th>Akcije</th>
         </tr>
     </thead>
     <tbody>
      @foreach (var item in Model.prisustva)
      {
          <tr>
              <td>@item.Predmet</td>
              <td>@item.datum.ToString(format:"dd-MM-yyyy")</td>
              <td>@(item.IsPrisutan?"DA":"NE")</td>
              <td>@item.komentar</td>
              <td>
                  <button class="btn btn-outline-success" onclick="EditPrisustvo(@item.prisustvoID)">Edit</button>
              </td>
          </tr>
      }

         </tbody>
 </table>