@model studentPrikazVM
@{ 

}

<form>
    <input name="q" value="@Model.query"  class="form-control" type="text" placeholder="Pretraga"  style="float:left;width:300px"/>
    <input type="submit" value="Trazi" class="btn btn-dark" style="float:left;padding:7px 9px;margin:0px 0px 30px 5px;background-color:dodgerblue;color:white;border:none" />

</form>


<table class="table">


      <thead>
          <tr>
          <th>ID</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Broj indeksa</th>
          <th>Fakultet</th>
          <th>Opstina</th>
         </tr>
    </thead>

    <tbody>
     
         @foreach (studentPrikazVM.Row s in Model.studenti)
         {
             <tr>
             <td>@s.studentID</td>
             <td>@s.Ime</td>
             <td>@s.Prezime</td>
             <td>@s.Br_Ind</td>
             <td>@s.Fakultet</td>
             <td>@s.Opstina</td>
                 <td><a href="/Student/Obrisi?studentID=@s.studentID " style="color:firebrick">Obrisi</a></td>
                 <td><a href="/Student/Edit?studentID=@s.studentID " style="color:gold">Edit</a></td>
                 <td><button style="color:brown" onclick="PrikaziDetalje(@s.studentID)"> Polozeni</button></td>
                 <td><button style="color:gold" onclick="PrikaziPrisustvo(@s.studentID)">Prisustvo</button></td>

              </tr>

         }

     
        </tbody>

</table>

<button  class="btn btn-danger" style="float:right" onclick="window.location='/Student/Edit'" >Dodaj Studenta</button>


</br>
</br>

<div id="ajaxPoziv" style="border:1px solid red">
    Glupi tekst samo da nesto ima

</div>

<script>
    var PrikaziDetalje=(studID) =>{

        var url = '/Predmet/Detalji?studentID=' + studID;
        //var zahtjev = new XMLHttpRequest();
        //zahtjev.onload = function () {
        //    if (zahtjev.status === 200) {
        //        document.getElementById("ajaxPoziv").innerHTML = zahtjev.responseText;
        //    }
        //};
        //zahtjev.open("GET", url, true);

        //zahtjev.send();

        $.get(url, function (d) {
            $("#ajaxPoziv").html(d);
        }


        )



    }


    function PrikaziPrisustvo(studentID) {
        var url = "/Prisustvo/PrikazPrisustva?studentID=" + studentID;

        $.get(url, function (d) {
            $("#ajaxPoziv").html(d);
        });
    }
    function OtvoriFormu(studentPredmetID) {
        var url = "/Predmet/Edit?studentPredmetID=" + studentPredmetID;
        $.get(url, function (d) {
            $("#ajaxPoziv").html(d);
        });
    }
    function SnimiOcjenu() {
        var forma = $("#NovaOcjena");
        var url = "/Predmet/snimi";
        $.ajax({
            type: "POST",
            url: url,
            data: forma.serialize(),
            success: function (d) {
                $("#ajaxPoziv").html(d);
            }
        })
        alert("Uspjesno snimljeno");
    }

    function EditPrisustvo(prisustvoID) {
        var url = "/Prisustvo/EditPrisustvo?prisustvoID=" + prisustvoID;
        $.get(url, function (d) {

        $("#ajaxPoziv").html(d);
        })
    }
    function SnimiPrisustvo() {
        var forma = $("#NovoPrisustvo");

        var url = "/Prisustvo/snimi";
        $.ajax({
            type: "POST",
            url: url,
            data: forma.serialize(),
            success: function (d) {
                $("#ajaxPoziv").html(d);
            }
        })
        alert("Uspjesno snimljeno");
    }
</script>